body {
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

#addUsers {
  position: relative;
  top: 62px;
  left: 288px;
  cursor: pointer;
  padding: 4px 8px;
  background-color: #00DB5A;
  font-weight: 900;
}

.users-tabs {
  margin: 30px 142px 0 0;
  white-space: nowrap;
  text-align: center;
}

.inner-user-tab {
  display: inline-block;
  margin: 2px 6px 0;
  padding: 7px 18px;
  color: white;
  background-color: #00DB5A;
  border-radius: 6px 6px 0 0;
}
.inner-user-tab:hover {
  cursor: pointer;
}
.white-tab {
  color: black;
  background-color: #fff;
}

.info-block {
  display: none;
  background-color: white;
  max-width: 700px;
  height: 190px;
  margin: 0 auto;
  border-radius: 0 6px 6px 6px;
}
.avatar {
  padding: 30px;
}

.names-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.first-name-info, .last-name-info {
  font-style: italic;
}
.error {
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 30px;
}
.error span {
  display: block;
}

.visible {
  display: flex;
}