table {
  border: 2px solid darkgreen;
  border-collapse: collapse;
}

table td {
  height: 40px;
  border: 1px solid green;
  width: 200px;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  padding: 0 5px;
}

.addRow {
  text-align: center;
}

.input{
  text-overflow: ellipsis;
}