table {
  border: 2px solid darkgreen;
  border-collapse: collapse;
  width: 630px;
}

td {
  height: 40px;
  border: 1px solid green;
  width: 196px;
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: 0 4px;
  vertical-align: middle;
  padding: 0 4px;
}

.addRow {
  text-align: center;
}

input{
  width: 184px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0;
}