.red {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.green {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

.blue {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.yellow {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.purple {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}